<!DOCTYPE html>
html(lang="ja")
head
	meta(charset="UTF-8")
	script(src="/script/jquery-3.1.1.min.js")
	script(src="/script/jquery-migrate-3.0.0.min.js")
	link(rel="stylesheet" href="/style.css" media="screen")

	title sinokoyo

body
	#wrap
		header
			h1 hoge
		main
		footer
	script(src="/script/main.js")
